**/dask_jobqueue_logs/**
worker.log
scheduler.log
scheduler.json
dask-worker-space
slurm**
worker-*/
*.pyc
*.nc
**/.ipynb_checkpoints/
*.tmp
*.egg-info/
.cache/
.coverage
_example_data
.pytest_cache
**/data/.sc*
*.aux
*.bbl
*.dvi
*.log
*.ps
*.blg
*.syntctex.gz
**.mat
html/**
scripts/Robert/*
scripts/Untitled.ipynb

